
<form action="/items" method="post">
    <h2>Add an item to your packing list:</h2> 
  <label for="type">What type of item is it?</label>
  <input required id="type" name="type" type="text">

  <label for="cost">How much did this item cost?</label>
  <input required id="cost" name="cost" type="number">

  <button type="submit">Submit</button>
</form>
<a href="/items">View Your Packing List</a>